<div class="container">
    <h1 class="display-3">Welcome</h1>
    <h4 class="display-5">this is the article section, here is a list of all the articles present on our platform </h4>
    <hr class="mt-4">
    <% articles.forEach( function(article) { %>
        <div class="card shadow bg-light mt-4">
            <div class="card-body">
                <div class="card-title mb-2">
                    <a href="/articles/<%=article._id%>" class="link text-dark"><h1><%= article.title %></h1></a>
                </div>
                <p class='card-text mb-2'><%= article.article %></p>
                <p class='card-text mb-2'> by : <%= article.author %></p>
            </div> 
        </div>
    <% }) %>
</div>