<div class="container" style="margin-top: 20vh;">
    <p class="display-4 mb-4">Welcome <%= user.name %></p>
    <p class="">
        Showcase your blogging skills by uploading your 
        awesome articles. Or just check an article from our article section. 
    </p>
    <a href="./articles" class="link btn btn-danger"> Entert Article section </a>
</div>