<div class="container">
    <div class="card shadow bg-light mt-4">
        <div class="card-body">
            <div class="card-title mb-2">
                <h1 class="display-1"><%= article.title %></h1>
            </div>
            <hr>
            <div class="container">
                <p class='card-text mb-2'><%= article.article %></p>
                <hr>
                <p class='card-text mb-2'> by : <%= article.author %></p>
            </div>
        </div> 
    </div>
</div>