<div class="container" style="margin-top: 25vh;">
    <p class="display-4 mb-4">Welcome</p>
    <p class="">
        Showcase your blogging skills by becoming a member and uploading your 
        awesome articles. I look forward to your arrival... 
    </p>
    <a href="./users/login" class="link btn btn-primary"> Login </a>
    <p class='mt-4 mb-4'> Or just ...</p>
    <a href="./users/register" class="link btn btn-primary mb-4"> Register </a>
    <p class="mb-4">
        Or you can just roam around in the article and then select whether it is worth joining or not. 
        Remember, you have to be logged in to read the articles.
    </p>
    <a href="./articles" class="link btn btn-danger"> Entert Article section </a>
</div>
