body {
    margin: 0px;
    background-image: url("./../Images/background.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

shadow {
    /* background: #FFFFFF; */
    box-shadow: 0px 22px 133px rgba(20, 20, 20, 0.13), 0px 2.75474px 16.6537px rgba(20, 20, 20, 0.065);
    border-radius: 10px;
}